# exclude all object files
src/*.o
src/riscvsim/*.o
src/slirp/*.o

# exclude all dependency files
src/*.d
src/riscvsim/*.d
src/slirp/*.d

# exclude stats, log and trace files
src/*.csv
src/*.log
src/*.trace

# exclude executables
src/marss-riscv
src/sim-stats-display
src/build_filelist
src/splitimg

# exclude libraries
src/*.so
src/*.a
